//begin left-pane
- var n = 1
 while n < 16
        .thumbnail(href="#")
            a
                img(src="http://lorempixel.com/250/150" alt="image #{n}")
            .caption
                h4.text-center News # #{n++}
//end left-pane