//begin content
.body.text-center
    -for(var i=1; i != 10;i++){
    .col-xs-4.center-block
        a(href="#")
            img.center-img(src="http://lorempixel.com/250/175" alt="image #{i}")
    }
//end content



