//begin content
.body.text-center
    .col-xs-2.center-block
        a(href="#")
            .circle-unnumbered
                img.center-img(src="http://lorempixel.com/150/150" alt="image #{i}")
    -for(var i=1; i != 30;i++){
    .col-xs-2.center-block
        a(href="#")
            .circle-numbered
                img.center-img(src="http://lorempixel.com/150/150" alt="image #{i}")
    -}
//end content



